VITE_FIREBASE_API_KEY=AIzaSyB55m8MjdqJHgkZK4_XOA964It1jqXO7p4
VITE_FIREBASE_AUTH_DOMAIN=sai-sms-by-ssiom-mysaiya-2026.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sai-sms-by-ssiom-mysaiya-2026
VITE_FIREBASE_STORAGE_BUCKET=sai-sms-by-ssiom-mysaiya-2026.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=136292931128
VITE_FIREBASE_APP_ID=1:136292931128:web:4946db8389f5e5386f38cd
VITE_FIREBASE_MEASUREMENT_ID=G-TL5P16CYW9

